

<div class="container-fluid">
  <div id="identify-csf-div" class="row">
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header text-xs-center" id="identify-card"><b>Identify</b></div>
          <div class="card-block text-xs-center">
            <p>The organization's effectiveness in managing cybersecurity risk to systems, assets, data, and capabilities.
            </p>
            <a class="btn btn-primary" id="identify-button" href="/csf_functions/1" role="button">More</a>
          </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header text-xs-center" id="protect-card"><b>Protect</b></div>
          <div class="card-block text-xs-center">
            <p>The organization's effectiveness in implementing the appropriate safeguards to ensure delivery of critical infrastructure services.
            </p>
            <a class="btn btn-primary" id="protect-button" href="/csf_functions/2" role="button">More</a>
          </div>
      </div>
    </div>  
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header text-xs-center" id="detect-card"><b>Detect</b></div>
          <div class="card-block text-xs-center">
            <p>The organization's effectiveness in implementing the appropriate activities to identify the occurrence of a cybersecurity event.
            </p>
            <a class="btn btn-primary" id="detect-button" href="/csf_functions/3" role="button">More</a>
          </div>
      </div>
    </div>  
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header text-xs-center" id="respond-card"><b>Respond</b></div>
          <div class="card-block text-xs-center">
            <p>The organization's effectiveness in implementing the appropriate activities to take action regarding a detected cybersecurity event.
            </p>
            <a class="btn btn-primary" id="respond-button" href="/csf_functions/4" role="button">More</a>
          </div>
      </div>
    </div>  
  </div>   
  <div class="row">
    <div class="col-xs-6 offset-xs-3">
      <div class="card">
        <div class="card-header text-xs-center" id="recover-card"><b>Recover</b></div>
          <div class="card-block text-xs-center">
            <p>The organization's effectiveness in implementing the appropriate activities to maintain plans for resilience and to restore any capabilities or services that were impaired due to a cybersecurity event.
            </p>
            <a class="btn btn-primary" id="recover-button" href="/csf_functions/5" role="button">More</a>
          </div>
      </div>
    </div>   
  </div>   
  
</div>



