<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#program" role="tab">Program</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#benefits" role="tab">Benefits</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#aboutus" role="tab">About Us</a>
	</li>
</ul>



<div class="tab-content">
	<div class="tab-pane fade in active" id="program">
		<h1>Cybersecurity Maturity Metrics Program (CM2P)</h1>

		<p>
		The Cybersecurity Maturity Metrics Program (CM2P) is a simple, cost-effective solution that enables near-real time visibility of the effectiveness of enterpreise Cyber Security programs. The CM2P allows cyber execuitves to talk across lines of business and to corporate boards.
		</p>

		<p>
		Leveraging a focused set of tailored Key Performance Indicators (KPIs) that alight to the National Institutes of Standards and Technology (NIST) Special Publication (SP) 800-53, the Center for Internet Security (CIS) Critical Security Controls (CSC) Top 20 (formerly SANS Top 20), International Standards Organization (ISO) 27001, and the NIST Cybersecurity Framework (CSF), CM2P gives senior management and boards of directors an easily understood view of their organizaiton's cybersecurity posture.
		</p>
	</div>
	<div class="tab-pane fade in" id="benefits">

		<h3>
		Key benefits of CM2P
		</h3>

		<ul>
			<li>50+ specially crafted and validated Key Performance Indicators (KPIs) that cover the full specturm of management, operational, and technical cybersecurity</li>
			<li>Pre-built integration with leading security products for metric automation</li>
			<li>Alignment to the NIST CSF maturity tiers for benchmarking against industry peers</li>
			<li>Mapping to global standards and controls including the NIST CSF, 800-53, ISO 27001 and CIS CSC Top 20</li>
			<li>Quantitative metrics that disallow subjectivity or biased reporting</li>
		</ul>
	</div>
	<div class="tab-pane fade in" id="aboutus">

		<p>
		CM2P is a collaboration between Northramp and Think Forward Consulting, two management consuling firms with extensive cybersecurity experience in the public and private sector. CM2P was originally developer and deployed at Abt Associates, a $500m with a global footprint including offices in over 60 countries. The pgorgram has been independently validated for its effectiveness by Ernst and Young and continues to be used as the principal mechanism for communicationg cyberseuciryt posture to the Abt Executive Advisory Board.
		</p>

		<p>
		To learn how CM2P can transform your cyber program click here!
		</p>
	</div>
</div>	