<h1>All Metrics</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Metric Name</th>
        <th>CSF Function</th>
        <th>Maturity Level</th>
      </tr>
    </thead>

    <tbody>
      <% @metrics.each do |metric| %>
        <tr>
          <td><%= link_to metric.name, metric %></td>
          <td><%= link_to metric.csf_function_name, csf_function_path(metric.csf_function_id) %></td>
          <td><%= metric.recent_maturity_level %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>



<%= link_to 'New Metric', new_metric_path %>
