<script>
$(document).ready(function() {
    $('#users').DataTable( {
        "pagingType": "full_numbers"
    } );
} );
</script>

<div class="table-responsive">
  <table id="users" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Num Metrics</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td><%= link_to u.full_name, user_path(u.slug) %></td>
          <td><%= u.email %></td>
          <td><%= u.metrics_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>