/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require chosen
 *= require dataTables.bootstrap4.min.css
 *= require_tree .
 *= require_self 
 */

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
} 
/* bootstrap hack end */


.simple_form {
    float: none;
    text-align : center;
}
.simple_form .input-box {
    margin-bottom: 10px;
}
.simple_form input {
    margin-bottom: 10px;
    margin: 2px 10px;
    display: inline-block;
}

 body { 
    padding-top: 65px; 
}

.open .dropdown-menu{display:block;}

.list-group { 
    margin: 0; 
    width: 100%;
 }

a {
    text-decoration: none !important;
}

a:hover {
    color: inherit;
    font-style:italic;
    background-color: transparent
}

#tablePanelBody {
    padding: 0;
}


#grey-bg {
	background-color: grey;
    color: white;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-xl-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
#identify-card {
	background: #006fb3;
	color: white
}

#identify-button {
    background: white;
    color: #006fb3;
    border-style: solid;
    border-color: #006fb3;
}

#identify-button:hover {
    background: #006fb3;
    color: white;
    border-style: solid;
    border-color: #006fb3;
}

#identify-table-header {
    background-color: #006fb3;
}

#protect-card {
	background: #7f3f98;
	color: white
}

#protect-button {
    background: white;
    color: #7f3f98;
    border-style: solid;
    border-color: #7f3f98;
}

#protect-button:hover {
    background: #7f3f98;
    color: white;
    border-style: solid;
    border-color: #7f3f98;
}

#detect-card {
	background: #ffdf16;
    color: white;
}

#detect-button {
    background: white;
    color: #ffdf16;
    border-style: solid;
    border-color: #ffdf16;
}

#detect-button:hover {
    background: #ffdf16;
    color: white;
    border-style: solid;
    border-color: #ffdf16;
}

#respond-card {
	background: #ed1c24;
	color: white
}

#respond-button {
    background: white;
    color: #ed1c24;
    border-style: solid;
    border-color: #ed1c24;
}

#respond-button:hover {
    background: #ed1c24;
    color: white;
    border-style: solid;
    border-color: #ed1c24;
}

#recover-card {
	background: #0ba24b;
	color: white
}

#recover-button {
    background: white;
    color: #0ba24b;
    border-style: solid;
    border-color: #0ba24b;
}

#recover-button:hover {
    background: #0ba24b;
    color: white;
    border-style: solid;
    border-color: #0ba24b;
}
