<nav class="navbar navbar-fixed-top navbar-light bg-faded">
	<div class="container-fluid">
		<!-- Brand -->
		<a class="btn btn-primary-outline" href="/">Metrics Application</a>

		<!-- Links -->
		<ul class="nav navbar-nav pull-xs-right">
			<li class="nav-item">
				<a class="btn btn-primary-outline" href="/dashboards">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-primary-outline" href="/csf_functions">CSF Functions</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-primary-outline" href="/system_center_imports">System Center Imports</a>
			</li>	
			<li class="nav-item">
				<a class="btn btn-primary-outline" href="/sccm_metrics">SQL Metrics</a>
			</li>		
		<% if user_signed_in? && current_user.superadmin? %>
			<li class="nav-item">
				<a class="btn btn-primary-outline" href="/admin">Admin</a>
			</li>
		<% end %>
		<% if user_signed_in? %>		
		    <li class="nav-item dropdown">
		      <a class="btn btn-primary-outline dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.firstname %></a>
		      	<div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
		        	<a class="dropdown-item" href="/users/sign_out">Logout</a>
		        </div>
		    </li>
		<% else %>
		    <li class="nav-item dropdown">
		      <a class="btn btn-primary-outline dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>	
		      	<div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
					<a class="dropdown-item" href="/users/sign_up">Register</a>
					<a class="dropdown-item" href="/users/sign_in">Login</a>
				</div>
			</li>
		<% end %>
		</ul>
	</div>
</nav>