<nav class="navbar navbar-fixed-top navbar-light bg-faded">
	<div class="container-fluid">
		<!-- Brand -->
		<a href="/" class="pull-left"><%= image_tag('abt_logo_white_03.jpg') %></a>

		<!-- Links -->
		<% if user_signed_in? %>		
		<ul class="nav navbar-nav pull-xs-right">
			<li class="nav-item">
				<a class="btn btn-primary-outline" href="/dashboards">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-primary-outline" href="/csf_functions">CSF Functions</a>
			</li>	
			<li class="nav-item">
				<a class="btn btn-primary-outline" href="/csf_categories">CSF Categories</a>
			</li>				
			<li class="nav-item">
				<a class="btn btn-primary-outline" href="/metrics">Metrics</a>
			</li>	
			<li class="nav-item">
				<a class="btn btn-primary-outline" href="/users">Users</a>
			</li>							
		<% if user_signed_in? && current_user.superadmin? %>
			<li class="nav-item">
				<a class="btn btn-primary-outline" href="/admin">Admin</a>
			</li>
		<% end %>
		    <li class="nav-item dropdown">
		      <a class="btn btn-primary-outline dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.firstname %></a>
		      	<div class="dropdown-menu" aria-labelledby="supportedContentDropdown" style="text-align:center"> 
		      		<a class="dropdown-item" href="/users/<%= current_user.slug %>">Profile</a>
		        	<a class="dropdown-item" href="/users/sign_out">Logout</a>
		        </div>
		    </li>
		<% else %>
		<ul class="nav navbar-nav pull-xs-right">		
		    <li class="nav-item dropdown">
		      <a class="btn btn-primary-outline dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>	
		      	<div class="dropdown-menu" aria-labelledby="supportedContentDropdown" style="text-align:center">
					<a class="dropdown-item" href="/users/sign_up">Register</a>
					<a class="dropdown-item" href="/users/sign_in">Login</a>
				</div>
			</li>
		<% end %>
		</ul>
	</div>
</nav>