<nav class="navbar navbar-light bg-faded">

<!-- Brand -->
<a class="navbar-brand" href="/">Metrics Application</a>

<!-- Links -->
<ul class="nav navbar-nav pull-xs-right">
<li class="nav-item">
<a class="nav-link" href="/organizations">Organizaitons</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/metrics">Metrics</a>
</li>
</ul>
</nav>