<nav class="navbar navbar-light bg-faded">
	<div class="container-fluid">
		<!-- Brand -->
		<a class="navbar-brand" href="/">Metrics Application</a>

		<!-- Links -->
		<ul class="nav navbar-nav pull-xs-right">
			<li class="nav-item">
				<a class="nav-link" href="/metrics">Metrics</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/csf_functions">CSF Functions</a>
			</li>
			<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			Dropdown
			</a>
			<div class="dropdown-menu" aria-labelledby="Preview">
			<a class="dropdown-item" href="#">Dropdown Link 1</a>
			<a class="dropdown-item" href="#">Dropdown Link 2</a>
			<a class="dropdown-item" href="#">Dropdown Link 3</a>
			</div>
			</li>		
		</ul>
	</div>
</nav>